.filterWrapper {
    width: 100%;
    height: auto;
    background-image: url(../Photos/filterbg.jpg);
    background-size: cover;
    background-position: center;


    .optionsWrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        cursor: grab;

        p {
            padding: 20px;
            font-family: 'Nuosu SIL', serif;
        }

        p:first-child {
            border-right: 1px solid white;
        }
    }

    .categoryWrapper {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        div {
            width: 80vw;
            height: 200px;
            margin: 30px;
            background: #aa4b6b;
            /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);
            /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            border-radius: 20px;

            span {
                color: white;
                font-size: 20px;
                padding: 15px;
                font-family: 'Nuosu SIL', serif;
                font-weight: bold;

            }

            .flexWrapper {
                display: flex;
                flex-direction: column;
                font-size: 25px;
                justify-content: flex-start;
                align-items: flex-start;


            }
        }

        .item1 {
            background-image: url(../Photos/trekking.jpg);
            background-size: cover;
        }

        .item2 {
            background-image: url(../Photos/cities.jpg);
            background-size: cover;
        }

        .item3 {
            background-image: url(../Photos/plaze.jpg);
            background-size: cover;
        }

        .item4 {
            background-image: url(../Photos/fun.jpg);
            background-size: cover;
        }

        .item5 {
            background-image: url(../Photos/hotel.jpg);
            background-size: cover;
        }




    }

    @media only screen and (min-width: 756px) {

        .categoryWrapper {
            flex-direction: row !important;
            flex-wrap: wrap;


            div {
                width: 40vw !important;
                height: 400px;


            }
        }

        .flexWrapper {

            font-size: 50px !important;
            height: 100% !important;
            justify-content: center !important;

            span {
                color: white;
                font-size: 35px !important;
                padding: 15px;
                font-family: 'Nuosu SIL', serif;
                font-weight: bold;

            }
        }


    }
}