.footerWrapper {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)), url(https://images.pexels.com/photos/286579/pexels-photo-286579.jpeg);
  height: auto;
  width: 100vw;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .footerBackground{
    width: 100%;
    background-image: url(https://www.camping.tools/assets/footer/footer-treeline.png);
    height: 400px  ;
    z-index: 20;
    color: white;
  }

  .footerWrapper:before {
    opacity: 0.6;
    left: 0;
    top: 0;
  }


  ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    font-size: 22px;
    font-size: 18px;

    a {
      color: inherit;
      text-decoration: none;
    }

    li {
      margin: 20px;
      font-family: 'Nuosu SIL', serif;
    }

    .copyright {
      border-right: 2px solid white;
      padding-right: 20px;
    }

  }
}

@media only screen and (max-width: 600px) {

  .footerWrapper {



    ul {
      width: 100%;
      font-size: 14px;
      flex-direction: column;
      margin:0;
      padding:20px 0 0 0 ;

      li {
        margin-top: 2px;
      }

      .copyright {
        border: 0;
      }
    }
  }


}