@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}



.headerWrapper {
  width: 100vw;
  height: 100vh;
  background-image: url(../Photos/tatry.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  perspective: 1px;
  perspective-origin: center top;
  transform-style: preserve-3d;
  box-shadow: inset 0 -150px 9px -20px rgba(0, 0, 0, 0.3);
  z-index: 20;

  .kAveeV {
    border: 0;
  }

  .logo {
    display: none;
  }

  .mainNavigation {
    height: auto;
    position: sticky;
    top: 0;
    z-index: 9030;

    ul {
      @include flexCenter;
      list-style-type: none;
      flex-direction: row;
      font-size: 18px;
      color: black;
      background-color: white;
      background-color: rgba(255, 255, 255, 0.15);
      margin: 0;
      backdrop-filter: blur(80px);
      position: sticky;
      top: 0;
      z-index: 1030;
      padding: 0;

      button {
        @include flexCenter;
        font-size: 1rem;
        color: #77878b;
        border-color: #77878b;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        border: 1px solid #212529;
        background-color: transparent;
        padding: 0.375rem 0.75rem;
        border-radius: 0.25rem;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

        svg {
          margin-right: 10px;
        }
      }

      button:hover {
        background-color: #212529;
        color: white;
      }

      .search {

        width: auto;
        height: 38px;
        margin-left: 0px;

        svg {
          margin: 0;
        }
      }



      li {
        width: auto;
        letter-spacing: 6px;
        padding: 10px;

        img {
          width: 150px;
          height: 150px;
        }




        a {
          color: inherit;
          text-decoration: none;
          padding-bottom: 5px;
          background:
            linear-gradient(to right,
              rgb(71, 150, 214),
              rgb(69, 147, 211)),
            linear-gradient(to right,
              rgba(255, 0, 0, 1),
              rgba(255, 0, 180, 1),
              rgba(0, 100, 200, 1));
          background-size: 100% 1px, 0 1px;
          background-position: 100% 100%, 0 100%;
          background-repeat: no-repeat;
          transition: background-size 400ms;
        }

        a:hover {
          background-size: 0 3px, 100% 3px;
        }

      }

      li#iconSearch {
        @include flexCenter;
      }

      li#iconLocalization {
        background:
          linear-gradient(to right,
            rgb(71, 150, 214),
            rgb(69, 147, 211)),
          linear-gradient(to right,
            rgba(255, 0, 0, 1),
            rgba(255, 0, 180, 1),
            rgba(0, 100, 200, 1));
        background-size: 100% 3px, 0 3px;
        background-position: 100% 100%, 0 100%;
        background-repeat: no-repeat;
        transition: background-size 400ms;
      }

      li#iconLocalization:hover {
        background-size: 0 3px, 100% 3px;
      }


      span {
        margin-left: 10px;
      }
    }


  }

  .flexWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;

    .socialMedia {

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      width: 60px;
      height: 32vh;
      box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
      border-radius: 20px;
      padding-left: 10px;

      span:hover {
        transition: 2s ease-out 100ms;


        p {
          display: block;

        }
      }

      span {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 14px;


      }






      p {
        display: flex;
        align-items: center;
        background-color: #075E54;
        height: 25px;
        margin-left: 13px;
        padding: 10px;
        border-radius: 5px;
        display: none;


      }
    }

  }


  .contentWrapper {
    @include flexCenter;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    height: 80vh;
    font-size: 40px;
    flex-grow: 1;


    h1 {
      font-family: 'Oleo Script', cursive;
      margin-bottom: 10px;
      text-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);

    }

    p {
      font-family: 'Nuosu SIL', serif;
      text-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
    }
  }

}




@media only screen and (max-width: 1128px) {
  .headerWrapper {

    height: 100vh !important;

    .socialMedia {
      display: none !important;
    }

    .logo {
      display: flex;
      align-items: center;
      margin-left: 10px;

      img {
        width: 100px;
        height: 100px;
      }

      h1 {


        font-family: 'Nuosu SIL', serif;
        margin-left: 5px;
      }
    }

  }

  .mainNavigation {

    display: none;

  }

  .headerWrapper {
    height: 70vh
  }


  .contentWrapper {

    height: 70vh !important;
  }

  .contentWrapper h1,
  p {
    font-size: 30px;

  }

  .flexWrapper {


    .socialMedia {
      padding: 5px !important;
      height: 33vh !important;

      span p {
        display: none !important;
      }



    }
  }
}


@media only screen and (min-width: 1129px) and (max-width:1261px) {

  .mainNavigation {

    ul {

      button {
        font-size: 10px !important;
        height: 37px;
      }

      li {
        font-size: 16px;
      }


      img {
        width: 100px !important;
        height: 100px;
      }

    }

  }

}

@media only screen and (min-width: 756px) and (max-width:1128px) {

  .contentWrapper h1 {
    width: 80vw !important;
    font-size: 80px;
  }



}