
.mapWrapper{
    position: relative;
    aspect-ratio: 771/720;
    

ul, li, a {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;


 }
 li{
    background: white;
    opacity: 0.5;
 }
 a:hover, a:focus{
    background: #34b399;
 }
.zachodnioPomorskie{
    clip-path: polygon(4% 36%, 1% 32%, 1% 31%, 3% 29%, 3% 26%, 4% 26%, 3% 18%, 3% 14%, 20% 9%, 24% 5%, 27% 5%, 27% 10%, 26% 10%, 27% 16%, 28% 19%, 26% 23%, 23% 23%, 25% 26%, 24% 28%, 22% 30%, 20% 30%, 19% 29%, 16% 30%, 13% 31%, 9% 32%);
}
.pomorskie{
    clip-path: polygon(27% 5%, 31% 2%, 40% 0%, 46% 4%, 42% 1%, 44% 6%, 46% 9%, 50% 8%, 53% 7%, 50% 8%, 50% 10%, 50% 14%, 51% 15%, 53% 16%, 52% 18%, 50% 18%, 49% 22%, 45% 21%, 46% 20%, 43% 21%, 42% 20%, 39% 19%, 37% 19%, 36% 20%, 34% 21%, 33% 23%, 29% 22%, 28% 19%, 29% 16%, 27% 14%, 26% 11%, 28% 9%);
}
.warminskoMazurskie{
    clip-path: polygon(55% 7%, 50% 10%, 50% 13%, 52% 15%, 53% 15%, 52% 18%, 51% 18%, 49% 21%, 50% 25%, 53% 26%, 54% 27%, 56% 29%, 60% 30%, 64% 26%, 75% 23%, 78% 21%, 82% 18%, 83% 15%, 81% 11%, 80% 10%, 82% 8%, 71% 9%, 60% 8%);
}
.podlaskie{
    clip-path: polygon(84% 7%, 89% 10%, 90% 14%, 91% 19%, 94% 27%, 95% 31%, 95% 37%, 91% 39%, 88% 44%, 85% 42%, 82% 42%, 81% 38%, 80% 36%, 79% 34%, 76% 35%, 76% 31%, 73% 30%, 72% 24%, 76% 23%, 81% 18%, 83% 16%, 80% 10%);

}
.lubuskie{
    clip-path: polygon(19% 29%, 17% 29%, 16% 31%, 15% 31%, 14% 30%, 12% 31%, 14% 32%, 10% 33%, 7% 34%, 7% 37%, 4% 37%, 5% 38%, 4% 41%, 6% 48%, 4% 50%, 5% 54%, 6% 56%, 8% 59%, 11% 58%, 12% 56%, 14% 58%, 16% 55%, 17% 52%, 19% 52%, 21% 54%, 23% 51%, 21% 50%, 18% 48%, 17% 45%, 17% 41%, 16% 36%, 18% 34%);

}
.wielkopolskie{
    clip-path: polygon(28% 21%, 23% 24%, 25% 27%, 19% 32%, 16% 37%, 17% 42%, 17% 47%, 21% 50%, 25% 55%, 27% 58%, 32% 56%, 34% 57%, 33% 59%, 36% 64%, 40% 64%, 39% 60%, 42% 57%, 42% 52%, 45% 51%, 47% 46%, 49% 43%, 42% 41%, 35% 38%, 33% 36%, 31% 32%, 32% 27%, 32% 23%);

}
.kujawskoPomorskie{
    clip-path: polygon(33% 21%, 39% 18%, 49% 22%, 54% 26%, 54% 32%, 52% 34%, 52% 37%, 50% 43%, 45% 43%, 33% 37%, 33% 35%, 31% 32%, 32% 24%);

}
.mazowieckie{
    clip-path: polygon(72% 23%, 64% 26%, 61% 29%, 56% 29%, 54% 30%, 54% 33%, 52% 33%, 51% 35%, 50% 43%, 53% 45%, 57% 45%, 59% 48%, 60% 51%, 63% 51%, 65% 54%, 62% 55%, 62% 63%, 70% 65%, 75% 66%, 76% 58%, 74% 55%, 77% 54%, 76% 49%, 84% 47%, 89% 44%, 83% 42%, 81% 38%, 80% 36%, 76% 34%, 75% 31%, 73% 28%);

}
.dolnoslaskie{
    clip-path: polygon(8% 61%, 6% 67%, 10% 66%, 12% 69%, 17% 72%, 21% 72%, 19% 75%, 23% 82%, 27% 80%, 26% 76%, 30% 71%, 34% 63%, 36% 61%, 33% 59%, 33% 56%, 31% 55%, 28% 57%, 24% 55%, 25% 53%, 23% 51%, 21% 54%, 19% 52%, 16% 53%, 16% 56%, 14% 58%, 12% 56%, 11% 58%, 8% 58%);

}
.lodzkie{
    clip-path: polygon(45% 49%, 50% 43%, 54% 45%, 57% 44%, 60% 47%, 60% 50%, 64% 51%, 64% 54%, 62% 55%, 63% 58%, 62% 61%, 60% 63%, 58% 63%, 57% 67%, 56% 66%, 55% 69%, 52% 68%, 50% 66%, 47% 65%, 40% 64%, 38% 60%, 41% 59%, 42% 53%);

}

.opolskie{
    clip-path: polygon(36% 63%, 33% 63%, 31% 68%, 26% 76%, 30% 79%, 34% 79%, 33% 82%, 36% 85%, 38% 82%, 41% 80%, 42% 75%, 43% 74%, 42% 72%, 45% 65%, 39% 64%);

}
.swietokrzyskie{
    clip-path: polygon(62% 61%, 61% 63%, 58% 63%, 57% 65%, 58% 67%, 56% 66%, 55% 69%, 54% 72%, 57% 76%, 60% 76%, 62% 81%, 70% 78%, 76% 72%, 76% 69%, 75% 64%, 72% 66%, 68% 64%, 65% 64%);

}
.lubelskie{
    clip-path: polygon(94% 78%, 96% 75%, 99% 74%, 99% 70%, 98% 67%, 96% 62%, 94% 59%, 94% 57%, 93% 55%, 92% 52%, 94% 47%, 91% 45%, 88% 44%, 84% 47%, 77% 49%, 74% 56%, 75% 59%, 76% 64%, 76% 70%, 80% 71%, 83% 74%, 82% 76%, 85% 78%, 90% 78%);

}
.slaskie{
    clip-path: polygon(44% 64%, 42% 70%, 43% 73%, 40% 76%, 42% 80%, 38% 81%, 38% 84%, 43% 86%, 43% 89%, 46% 91%, 47% 94%, 49% 94%, 53% 91%, 52% 89%, 48% 86%, 50% 81%, 53% 77%, 57% 76%, 55% 72%, 55% 69%, 52% 69%, 51% 66%, 50% 66%, 48% 64%);
}
.malopolskie{
    clip-path: polygon(57% 75%, 52% 77%, 48% 85%, 51% 89%, 55% 95%, 57% 99%, 60% 96%, 65% 94%, 67% 96%, 72% 93%, 72% 90%, 70% 87%, 71% 85%, 70% 83%, 70% 77%, 62% 81%, 60% 78%, 60% 76%);
}
.podkarpackie{
    clip-path: polygon(77% 70%, 70% 78%, 70% 84%, 69% 86%, 72% 89%, 73% 93%, 78% 95%, 80% 97%, 88% 100%, 86% 97%, 86% 91%, 93% 79%, 92% 77%, 89% 76%, 88% 78%, 84% 78%, 82% 76%, 84% 75%, 83% 73%, 80% 72%, 79% 69%);
}





.visually-hidden {
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
      }

    }