.postsWrapper {

    height: auto;
    padding-top: 0;
    background-image: url(../Photos/posts.jpg);
    box-shadow: 180px red;
    background-color: #011526;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .postsContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        color: white;
        text-shadow: 0 2px 5px rgba(255, 249, 249, 0.7);
        padding-top: 100px;
        background-color: rgba(12, 12, 14, 0.5);

        p {
            width: 50%;
            font-size: 20px;
            text-align: center;
            text-shadow: none;
            font-weight: bold;


        }

        h2 {
            font-family: 'Nuosu SIL', serif;
            font-weight: bold;
            width: 40vw;
            text-shadow: none;

        }

    }

    .newestPosts {
        display: flex;
        text-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
        height: 100vh;
        justify-content: center;

        .atractionWrapper {
            width: 20%;
            height: auto;
            margin: 0 30px 0 30px;
        }

    }

}

.seeMore {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;


    svg {
        color: white !important;
    }

    span {
        color: white;
        font-weight: bold;
    }

    button {
        margin-right: 5px;
    }


}

@media only screen and (max-width: 756px) {

    .newestPosts {
        height: auto !important;

        flex-direction: column;
        align-items: center;

        .atractionWrapper {
            width: 80% !important;

            .content p {
                font-size: 18px;

                .redColor {
                    font-size: 20px;
                }
            }
        }

    }

    .postsContent {


        h2 {
            width: 100% !important;
            font-size: 35px;
            border-bottom: 1px solid white;
        }

        p {
            width: 80% !important;
            text-align: center !important;
            font-size: 18px !important;
        }
    }



}




@media only screen and (min-width: 757px) and (max-width: 1400px) {

    .newestPosts {
        height: auto !important;
        flex-wrap: wrap;
        justify-content: space-around !important;

        .atractionWrapper {
            width: 40% !important;
            height: auto;
            margin: 0 30px 0 30px;
        }
    }

    .postsWrapper {

        height: auto !important;


        .postsContent {


            h2 {
                width: 100%;
                font-size: 35px;
                border-bottom: 1px solid white;
            }

            p {
                width: 80%;
            }

        }

        .newestPosts {
            height: auto;
            flex-wrap: wrap;

            span {
                height: 100%;
                padding-bottom: 20px;

            }

        }


        .postsContent {
            p {
                width: 90vw !important;
                font-family: 'Nuosu SIL', serif;
                text-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
            }
        }

    }

}